{% extends "master.html.twig" %}

{% block content %}
    <h1 property="title">{{ content.title }}</h1>

    <p>Price: {{ content.productPrice / 100 }}USD</p>

    <a href="{{ path('app_add_to_cart', {code: content.productCode, variant: content.variantCode}) }}">Add it to cart</a>

    <div property="article">
        {{ content.article|default()|raw }}
    </div>
{% endblock %}
