{% extends "master.html.twig" %}

{% block content %}
    <h1 property="title">{{ content.title }} ({{ content.productCode }})</h1>

    <a href="{{ path('app_add_to_cart', {code: content.productCode}) }}">Add it to cart</a>

    <div property="article">
        {{ content.article|default()|raw }}
    </div>
{% endblock %}
