{% extends "master.html.twig" %}

{% block meta %}
    <title>Cart completed</title>
{% endblock %}

{% block content %}
    <h1>Thank you!</h1>

    <p>You have successfully placed an order.</p>
{% endblock %}
